<nav class="navbar">
    <a href="index.html" class="nav-logo">
        <img src="images/lello_nbg.png" alt="Lello Logo" class="logo">
    </a>
    <ul class="nav-menu">
        <li class="nav-item"><a href="home.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="https://forms.gle/NnN12BZB4NkHYbxn7" class="nav-link">Order Now</a></li>
        <li class="nav-item">Themed Box</li>
        <li class="nav-item">Age Groups</li>
        <li class="nav-item"><a href="about.html" class="nav-link">About Lello</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>